/*
текст заголовков - Roboto 700
текст ссылок - Roboto 500
обычный текст - Roboto 400
*/

/* VARIABLES */

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --color-three: #212121;
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: #757575;
}

ul {
  list-style: none;
}

.section-one .container {
  width: 1600px;
  height: 600px;
}

.header .container {
  width: 1600px;
  height: 80px;
}

a {
  color: inherit;
  text-decoration: none;
}

/* HEADER STYLES */
.header {
  background: var(--white-color);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

.main-title {
  font-family: var(--accent-font);
  font-size: 26px;
  /* font-weight: 700px; */
  color: var(--color-three);
}

/* MAIN STYLES */
.section-one {
  background: #2f303a;
}

.title-hide {
  color: rgba(255, 255, 255, 0);
}

.title-one {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-three);
  line-height: 1.17;
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-three);
  line-height: 1.17;
}

.title-three {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-three);
  line-height: 1.17;
  text-transform: uppercase;
}

.title-name {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-three);
  line-height: 1.17;
}

.title-product {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-three);
  line-height: 1.17;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-color);
  line-height: 1.17;
}

.buy-button {
  padding: 10px 32px;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.filter-button {
  background: #f5f4fa;
  color: var(--color-three);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

.list-item {
  color: var(--color-three);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.address-list {
  font-style: normal;
}

.logo-item {
  color: var(--accent-color);
}
