/*
текст заголовков - Roboto 700
текст ссылок - Roboto 500
обычный текст - Roboto 400
*/

/* variables */

:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --color-three: #212121;
  --main-font: 'Roboto', sans-serif;
  --accent-font: 'Raleway', sans-serif;
}

/* universal */

* {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  color: #757575;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* navigation */

.list-item {
  color: var(--color-three);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--accent-color);
}

.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts-list a:hover,
.contacts-list a:focus {
  color: var(--accent-color);
}

.active {
  color: var(--accent-color);
}

/* section containers */

.section-one .container {
  width: 1600px;
  height: 600px;
  background: #2f303a;
}

.header .container {
  width: 1600px;
  height: 80px;
}

.footer .container {
  background: #2f303a;
}

/* title styles */

.main-title {
  font-family: var(--accent-font);
  font-size: 26px;
  /* font-weight: 700px; */
  color: var(--color-three);
  word-spacing: -0.4ch;
}

.header {
  background: var(--white-color);
}

.hero {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.17;
  text-transform: uppercase;
  text-align: center;
}

.title-one {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-three);
  line-height: 1.17;
}

.title-two {
  font-weight: 700;
  font-size: 36px;
  color: var(--color-three);
  line-height: 1.17;
}

.title-three {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-three);
  line-height: 1.17;
  text-transform: uppercase;
}

.title-name {
  color: var(--color-three);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.product-title {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-three);
  line-height: 1.17;
}

.title-hide {
  color: rgba(255, 255, 255, 0);
}

/* buttons */

.buy-button {
  padding: 10px 32px;
  width: 200px;
  height: 50px;

  background: var(--accent-color);
  color: var(--white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.17;

  cursor: pointer;
  font-family: inherit;
}

.filter-button {
  background: #f5f4fa;
  color: var(--color-three);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;

  cursor: pointer;
  font-family: inherit;
}

.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background: var(--accent-color);
}

/* address */

.address-list {
  font-style: normal;
  color: var(--white-color);
}

.address-list .address-item {
  color: rgba(255, 255, 255, 0.6);
}

/* logo */

.logo-item {
  color: var(--accent-color);
}

.footer a p {
  color: var(--white-color);
}

.profession {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.product-category {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}
